
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	width:100%;
	align-items: center;
}

#above-the-fold {
	width: 100%;
	height: 100vh;
}

#row-1 {
	display: flex;
	flex-direction: row;
	width: 100%;
/*	height: 50px;
*/	max-height: 7vh;
	min-height: 50px;
	color: #aaa;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	border-bottom: 1px solid #0ec9e3;

}

#header-left {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	align-self: center;

}

#header-logo {
  align-self: center;
  max-width: 4vh;
  max-height: auto;
  width: 30px;
  height: 30px;
}

#header-name {
	color: #0ec9e3;
	font-size: 150%;
	margin: 8px;
}

#header-slogan {
	font-style:italic;
	font-size:1.1vw;
}

#header-right {
	align-self: center;
}

#header-right img {
	max-width: 4vh;
  max-height: auto
  min-width: 30px;
  max-width: auto;
}


#row-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: url(../images/boston.jpg) top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

a:link{color:#aaa; text-decoration: none;}
a:active{color:inherit}
a:visited{color:#aaa; text-decoration: none;}
a:hover{color:#0ec9e3}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#row-2-content {
	display: flex;
	flex-direction: column;
	background-color: hsla(180, 0%, 90%, 0);


	height:85%;
/*	max-height: 600px;
*/
	align-items: center;
	justify-content: space-between;
}

/*@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
	#row-2-content {
		 width: 100%;
		}

}*/

#title-and-subtitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 25%;
	width: 85vw;
}

#title {
    text-transform: uppercase;
	font-family: josefin sans;
	font-size: 2.25rem;
	font-weight: bolder;
	text-align: center;
}

#subtitle {
	font-family: josefin sans;
	font-size: 1.25rem;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
}

#how-it-works {
	display:flex;
	flex-direction: column;
	justify-content: center;
	font-size: 24px;
	background-color: hsla(180, 0%, 100%, 0);

	height: 50%;
	min-height: 265px;
}

.step {
	display:flex;
	flex-direction: row;
	width: 100%;
	flex-shrink: 1;
	align-items: center;
	background-color: hsla(180, 0%, 100%, 0.9);
	border-radius: 5px;
		margin-top: 5px;
	margin-bottom: 5px;

	justify-content: space-around;
	-webkit-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
	padding-top: .2rem;
	padding-bottom: .2rem;
}

.step-text {
	display:flex;
	flex-direction:column;
	width: 280px;
}

.step-image img {
    width: 64px;
    height: 64px;
    padding-left: 8px;
    padding-right: 8px;
}

.step-title {

}

.step-description {
	font-size: 16px;
}

#mc_embed_signup {
	display: flex;
	width: 100%;
	max-width: 545px;
	margin: 0%;
	height: 30%;
}

#row-bottom {
	display: flex;
	justify-content: center;
	width:100%;
}
#mailchimp-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: url(../images/background.png);
}

#mc_embed_signup2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 570px;
	height: 100px;
/*	border: 1px solid #aaa;
*/	border-radius: 5px;
}

form {
	margin: 0px;
}

#mc-embedded-subscribe-form {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#mc-form-and-button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#mc-email {
/*	flex: 2 2 320px;
*/	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 320px;
    background-color: #FFF;
    border: 1px solid #0ec9e3;
    border-radius: 3px;
    color: #8f9091;
    height: 50px;
    font-size: 14px;
    letter-spacing: .04em;
    outline: none;
    padding-left: 20px;
    width: 340px;
    margin: 10px;
}

#mc-button {
/*	flex: 1 1 140px;
*/	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 140px;
	border-radius: 3px;
    background-color: #0ec9e3;
    border: 0px solid #0ec9e3;
    color: #FFF;
    height: 50px;
    font-size: 14px;
    letter-spacing: .08em;
    line-height: 12px;
    padding: 19px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    margin: 10px;
}

#mc-button:hover{
	background-color: #06869d;
}


#row-of-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;/*
    padding-top: 15px;
    padding-bottom: 15px;*/
    background-color: #1b1d24;
}

.feature-block {
	flex: 1 1 175px;
    min-width: 150px;
    max-width: 200px;
    text-align: center;
    color: white;
    padding: 15px;/*
    box-shadow: 3px 3px 7px #888888;
    background-color:white;
    border-radius:5%;*/
}

.feature-block img {
    width:64px;
    height:64px;
    padding: 15px;
}

.feature-block h4 {
    margin: 0px;
}


#row-screenshot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
/*  background-image: url(images/background.png);
*/  
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

}

#screenshot-explanation {
  width: 400px;
  padding: 15px;
}

#screenshot-explanation p {
  font-size: 1.25rem;
  color: #333;
}

#row-screenshot img {
  padding: 15px;
}

#screenshot-img {
	flex: 0 1 440px;
	width: 100%;
	height: auto;
}

/*
.blackBar{
   display:none;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:80px;
   background-color: rgba(255,255,255,0.90);
   text-align:center;
   box-shadow: 3px 3px 7px #888888;
}

.header h1 {
    float:center;
    position: relative;
    left: 10px;
}*/
    /*
#slideshow { 
    position: relative; 
    width: 780px; 
    height: 300px; 
    padding: 10px; 
    box-shadow: 3px 3px 7px #888888; 
    background-color:white;
}

#slideshow h1 {
    padding-top:100px;
    text-align:center;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}*/


/*
body { background-image:url(images/background.jpg); 
background-repeat: repeat-y;}*/
      
/*
.feature-block:hover {
    color:#06869d;
}*/

.feature-block-2 {
    width: 100%;
    min-width: 180px;
    max-width: 800px;
    min-height: 200px;
    max-height: 600px;
    text-align: center;
    box-shadow: 1px 1px 7px #888888;
    background-color:white;
}

.feature-block-2 h2 {
    padding-top:20px;
}
.feature-block-2 p {
    color:grey;
    font-size:20px;
}      

#row-of-features-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom:30px;
}

/*.feature-block-3 {
    display:flex;
    width: 100%;
    min-width: 180px;
    max-width: 800px;
    min-height: 200px;
    max-height: 600px;
    text-align: center;
    box-shadow: 3px 3px 7px #888888;
    background-color:white;
}

.feature-block-0-1 {
    width: 50%;
    text-align: center;
    padding-top:90px;
    padding-left:20px;
}
    
.feature-block-0-1 p {
    color:grey;
    font-size:20px;
}
.feature-block-0-1 h2 {
    color:#0ec9e3;
}     
               
.feature-block-0-2 {
    width: 50%;
    text-align: center;
}*/
